{
  "extends": ["taro/react"],
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "linebreak-style": ["off"],
    "no-nested-ternary": ["warn"],
    "jsx-a11y/media-has-caption": ["off"],
    "eqeqeq": ["off"],
    "react/jsx-props-no-spreading": ["off"],
    "indent": ["error", 2],
    "no-multiple-empty-lines": ["error", {
      "max": 2
    }],
    "spaced-comment": ["error", "always"],
    "import/no-commonjs": "off",
    // "semi": ["error", "never"]
  }
}
