.formItem {
  margin-left: 16px;
  padding: 10px 0;
  border-bottom: 1px solid #f2f2f2;
  .label {
    padding-bottom: 6px;
  }
  .required {
    color: red;
    padding-right: 4px;
  }
  :global {
    .weui-input {
      font-size: 14px;
      height: 24px;
      &::placeholder {
        color: #b3b5b9;
      }
    }
  }
  .doubleInput {
    display: flex;
    align-items: center;
    padding-right: 16px;
    input {
      flex: 1;
      &:first-of-type {
        text-align: right;
      }
    }
    text {
      margin: 0 16px;
    }
    .readonly {
      flex: 1;
      height: 24px;
      line-height: 24px;
      &:first-of-type {
        text-align: right;
      }
    }
  }
  &.alignLeft {
    display: flex;
    align-items: center;
    padding: 12px 0;
    .label {
      padding: 0;
    }
    .doubleInput {
      padding-left: 16px;
      flex: 1;
    }
  }
}
